name: update

on:
  push:
    branches:
      - "main"
    paths:
      - "src/**"
      - "package.json"
      - "tsconfig.json"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
      - run: npm install
      - run: npm run all
      - run: |
          git config --global user.name "mcenv"
          git config --global user.email "mcenv@users.noreply.github.com"
          git commit -am "Update dist"
          git push
